<ion-view view-title="CPR" >
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>
  <ion-content id="cpr">
      <div class="list">
      <div class="card ">
        <div class="item item-divider">
          CPR 
        </div>
        <div class="item item-text-wrap item-button-left item-button-right">
          <button class="button button-calm" ng-click="CPRTimer()" ng-disabled="!CPRbtn">
              START
            </button> 
            <span class="counter">{{CPR_minute}}:{{CPR_seconds}}</span>
        </div>
      </div>
      <div class="card ">
          <div class="item item-divider">
              Epinephrine 
          </div>
          <div class="item item-text-wrap item-button-left item-button-right">
           
            <button class="button button-calm" ng-click="EPHTimer()" ng-disabled="!EPHbtn">
                START
              </button> 
              <span class="counter">{{EPH_minute}}:{{EPH_seconds}}</span>
            <button class="button button-dark" ng-click="showEphPopup()">
              <i class="icon ion-ios-gear"></i>
              
            </button>
            
          </div>
        </div>
        <div class="card ">
            <div class="item item-divider">
                Amiodarone 
            </div>
            <div class="item item-text-wrap item-button-left item-button-right">
              <button class="button button-calm" ng-click="AMITimer()" ng-disabled="!AMIbtn">
                  START
                </button> 
                <span class="counter">{{AMI_minute}}:{{AMI_seconds}}</span>
              <button class="button button-dark" ng-click="showAmiPopup()">
                <i class="icon ion-ios-gear"></i>
              </button>
            </div>
          </div> 
          <div class="card ">
              <div class="item text-center item-divider">
                <b>TOTAL CYCLES</b> 
              </div>
              <div class="item item-text-wrap">
                  <div class="row">
                      <div class="col col-50 text-center"><b>Epinephrine:</b> <br/> {{EPH_counter}} </div>
                      <div class="col col-50 text-center"><b>Amiodarone:</b>  <br/> {{AMI_counter}} </div>
                    </div>
                    <div class="row text-center"><div class="col"><b>CPR Cycles:</b>  <br/> {{CPR_counter}} </div></div>
                    <div class="row">
                        <div class="col col-50 text-center"><b>Start Time:</b>  <br/>  {{date | date:'H:m:ss'}} </div>
                        <div class="col col-50 text-center"><b>CPR Time:</b>  <br/> {{CPR_total_time}} </div>
                      </div>
                      <div class="row text-center"><div class="col">
                          <button class="button button-assertive button-block" ng-click="showResetPopup()">
                             STOP ALL
                            </button>
                      </div></div>
              </div>
            </div>
    </div>
  </ion-content>
</ion-view>