<ion-view view-title="ACLSTIMER">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>
  <ion-content class="padding" >
    <h2>How It Works</h2>
    <p>
    <b>ACLSTIMER</b> is a portable tool for healthcare professionals in the resuscitation of patients with cardiorespiratory arrest.
      <p></p>
      Based on the Algorithms guideline of the <em>American Heart Association (AHA)</em>.
      <p></p>
      <b>Contacts</b> <br/>
      marcelolpontes@yahoo.com.br <br/>
      mariolimapontes@yahoo.com.br</p>
  </ion-content>
</ion-view>
